on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    name: Build
    steps:
      - uses: actions/checkout@v3
      - uses: mlugg/setup-zig@v1
      - run: zig build
      - uses: actions/upload-artifact@v4.6.0
      - with:
          name: BioMechanics
          path: zig-out/
